/*!
 * @theme basic
 * @auto-scaling fittingHeader,math
 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

@import-theme 'default';

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.7rem;

  background: #21242d;
  color: #fafafa;
}

h1 {
  color: #fafafa;
  font-size: 2.7rem;
}

/**
 * コードブロックの Syntax Highlight
 * 
 * THEME: https://highlightjs.org/static/demo/
 */

@import "~highlight.js/styles/base16/classic-dark.css";
$-code-fonts: "Hack Nerd Font", "Ricty Diminished", monospace;

pre {
  background: #151515;
  color: #d0d0d0;
  font-family: $-code-fonts;
  min-width: 80%;
}

/* 汎用セクション用クラス
 * example: <!-- class: sample -->
 */
